@page
@using WebApplication.ClientSideData;
@model WebApplication.Pages.Metrics.ContentionsModel
@{
    ViewData["Title"] = "Contentions";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="main">
    <font size="50">Contentions</font>

    <p>Total Contentions: @Model.totalContentions</p>
    <p>Average Duration of Contentions: @Model.avgDuration</p>

    <p>Log of Contentions</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Start Timestamp</th>
                <th>End Timestamp</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.contentions != null)
            {
                @for (int i = Model.contentions.Count - 1; i >= 0; i--)
                {
                    Client_Contention c = Model.contentions.ElementAt<Client_Contention>(i);
                    <tr>

                        @if (c.EndTimestamp != null)
                        {
                            <td>@c.StartTimestamp.ToLongTimeString() @c.StartTimestamp.ToShortDateString()</td>
                            <td>@c.EndTimestamp.ToLongTimeString() @c.EndTimestamp.ToShortDateString()</td>
                            <td>@c.Duration</td>
                        }
                        else
                        {
                            <td>@c.StartTimestamp.ToLongTimeString() @c.StartTimestamp.ToShortDateString()</td>
                            <td></td>
                            <td></td>
                        }
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>
</div>