@page
@model WebApplication.Pages.Metrics.CPU_MemoryModel
@using DataTransfer;
@{
    ViewData["Title"] = "CPU_Memory";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/plotly-latest.min.js"></script>

</head>

<div class="main">

    <font size="50">CPU and Memory Usage</font>

    <p>Average CPU Usage: @Model.avgCPU</p>

    <p>Log of CPU Usage</p>
    <div class="CPU-table" max-width="600px">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>CPU</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.cpu != null)
                {
                    @for (int i = Model.cpu.Count - 1; i >= 0; i--)
                    {
                        CPU_Usage c = Model.cpu.ElementAt<CPU_Usage>(i);
                        <tr>
                            <td>@c.usage</td>
                            <td>@c.timestamp</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>Unable to retrieve data</tr>

                }
            </tbody>
        </table>
    </div>

    <p>Log of Memory Usage</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Memory</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.mem != null)
            {
                @for (int i = Model.mem.Count - 1; i >= 0; i--)
                {
                    Mem_Usage m = Model.mem.ElementAt<Mem_Usage>(i);
                    <tr>
                        <td>@m.usage</td>
                        <td>@m.timestamp</td>
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>

            }
        </tbody>
    </table>

</div>


<!--
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   <script type="text/javascript">
       google.charts.load('current', { 'packages': ['corechart'] });
       google.charts.setOnLoadCallback(drawChart);

       function drawChart() {
           var data = google.visualization.arrayToDataTable([
               ['TimeStamp', 'CPU'],
               ['2001', @Model.cpu[0].usage],
               ['2002', @Model.cpu[1].usage],
               //['2006', 660, 1120],
               //['2007', 1030, 540]
           ]);

           var options = {
               title: 'CPU Usage',
               curveType: 'function',
               legend: { position: 'bottom' }
           };

           var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

           chart.draw(data, options);
       }
   </script> -->
