@page
@model WebApplication.Pages.Metrics.CPU_MemoryModel
@using DataTransfer;
@{
    ViewData["Title"] = "CPU_Memory";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
</head>

<div class="main">
    <font size="50">CPU and Memory Usage</font>
    <button class="btn btn-default" onClick="window.location.reload()">Refresh Data</button>

    @*<div id="cputest"></div>
    <script>
        const start = `@Html.Encode(Model.oldStampString)`;
        const end = `@Html.Encode(Model.newStampString)`;
        const id = `@Html.Encode(IndexModel.userSession.Id)`;

        function getUsage() {
            const url = `http://localhost:54022/api/v1/CPU/Daterange?start=${start}&end=${end}&id=${id}`;
            return fetch(url, {
                method: 'GET',
                mode: 'cors',
                headers: {
                    "Accept": "application/json",
                    'Access-Control-Allow-Origin': '*',
                    "Content-type": "applicaiton/json"
                }
            })
                .then(response => {
                    if (response.ok) {
                        return response;
                    } else {
                        return Promise.reject(response);
                        throw Error(response.statusText);
                    }
                })
                .then(response => response.json())
                .then(function (data) { 
                    var dataArray = JSON.parse(data);
                    var cpuUsage = new Array();

                    for (var i = 0; i < @Model.cpu.Count; i++) {
                        cpuUsage[i] = dataArray[i].usage;
                    }
                    return cpuUsage; 
                });
        }

        function getTime() {
            const url = `http://localhost:54022/api/v1/CPU/Daterange?start=${start}&end=${end}&id=${id}`;
            return fetch(url, {
                method: 'GET',
                mode: 'cors',
                headers: {
                    "Accept": "application/json",
                    'Access-Control-Allow-Origin': '*',
                    "Content-type": "applicaiton/json"
                }
            })
                .then(response => {
                    if (response.ok) {
                        return response;
                    } else {
                        return Promise.reject(response);
                        throw Error(response.statusText);
                    }
                })
                .then(response => response.json())
                .then(function (data) { 
                    var dataArray = JSON.parse(data);
                    var cpuTime = new Array();

                    for (var i = 0; i < @Model.cpu.Count; i++) {
                        cpuTime[i] = dataArray[i].timestamp;
                    }
                    return cpuTime; 
                });
        }

        function getUsage() {
            var data = Promise.all([getData()]);
            var cpuUsage = new Array();

            for (var i = 0; i < @Model.cpu.Count; i++) {
                cpuUsage[i] = data[i].timestamp;
            }
        }

        Promise.all([getUsage(), getTime()])
            .then(function (value) {
                Plotly.plot('cputest', [{
                    y: [value[0]],
                    x: [value[1]],
                    type: 'scatter'
                }]);
            })

        var cnt = 0;
        setInterval(function () {
            Plotly.extendTraces('chart', { y: [[getUsage()]] }, [0]);
            cnt++;
            if (cnt > 100) {
                Plotly.relayout('chart', {
                    xaxis: {
                        range: [cnt - 100, cnt]
                    }
                });
            }
        }, 10);

    </script>*@

    <div id="cpu"></div>
    <script>
        const startCPU = `@Html.Encode(Model.oldStampString)`;
        const endCPU = `@Html.Encode(Model.newStampString)`;
        const idCPU = `@Html.Encode(IndexModel.userSession.Id)`;

        const urlCPU = `http://localhost:54022/api/v1/CPU/Daterange?start=${startCPU}&end=${endCPU}&id=${idCPU}`;
        fetch(urlCPU, {
            method: 'GET',
            mode: 'cors',
            headers: {
                "Accept": "application/json",
                'Access-Control-Allow-Origin': '*',
                "Content-type": "applicaiton/json"
            }
        })
            .then(response => {
                if (response.ok) {
                    return response;
                } else {
                    return Promise.reject(response);
                    throw Error(response.statusText);
                }
            })
            .then(response => response.json())
            .then(function (data) {
                var dataArray = JSON.parse(data);

                var cpuUsage = new Array();
                var cpuTime = new Array();

                for (var i = 0; i < @Model.cpu.Count; i++) {
                    cpuUsage[i] = dataArray[i].usage;
                    cpuTime[i] = dataArray[i].timestamp;
                }

                var CPU = [{
                    x: cpuTime,
                    y: cpuUsage,
                    type: 'scatter'
                }];

                var layout = {
                    title: 'CPU Usage Over Time',
                    yaxis: {
                        title: 'Percentage of CPU Usage',
                        titlefont: {
                            family: 'Arial, sans-serif',
                            size: 18,
                            color: 'lightgrey'
                        },
                        visible: true,
                        range: [0, 100]
                    },
                    xaxis: {
                        title: 'Time',
                        titlefont: {
                            family: 'Arial, sans-serif',
                            size: 18,
                            color: 'lightgrey'
                        }
                    }
                };

                Plotly.plot('cpu', CPU, layout);
            });
    </script>

    <div id="mem"></div>
    <script>
        const startMem = `@Html.Encode(Model.oldStampString)`;
        const endMem = `@Html.Encode(Model.newStampString)`;
        const idMem = `@Html.Encode(IndexModel.userSession.Id)`;

        const urlMem = `http://localhost:54022/api/v1/Memory/Daterange?start=${startMem}&end=${endMem}&id=${idMem}`;
        fetch(urlMem, {
            method: 'GET',
            mode: 'cors',
            headers: {
                "Accept": "application/json",
                'Access-Control-Allow-Origin': '*',
                "Content-type": "applicaiton/json"
            }
        })
            .then(response => {
                if (response.ok) {
                    return response;
                } else {
                    return Promise.reject(response);
                    throw Error(response.statusText);
                }
            })
            .then(response => response.json())
            .then(function (data) {
                var dataArray = JSON.parse(data);

                var memUsage = new Array();
                var memTime = new Array();

                for (var i = 0; i < @Model.cpu.Count; i++) {
                    memUsage[i] = dataArray[i].usage;
                    memTime[i] = dataArray[i].timestamp;
                }

                var Mem = [{
                    x: memTime,
                    y: memUsage,
                    type: 'scatter'
                }];

                var layout = {
                    title: 'Mem Usage Over Time',
                    yaxis: {
                        title: 'Mem Usage (MB)',
                        titlefont: {
                            family: 'Arial, sans-serif',
                            size: 18,
                            color: 'lightgrey'
                        },
                        visible: true,
                    },
                    xaxis: {
                        title: 'Time',
                        titlefont: {
                            family: 'Arial, sans-serif',
                            size: 18,
                            color: 'lightgrey'
                        }
                    }
                };

                Plotly.plot('mem', Mem, layout);

                @*var cnt = 0;
                var interval = setInterval(function () {
                    cnt++;
                    if (cnt > @IndexModel.userSession.sendRate*100) {
                        Plotly.relayout('mem',
                            {
                                'xaxis.range': [cnt - @IndexModel.userSession.sendRate*100, cnt]
                            })
                    }

                    Plotly.extendTraces('mem',
                        {
                            x: memTime,
                            y: memUsage
                        }, [0])
                }, 500);*@
            });
    </script>

    <p>Average CPU Usage: @Model.avgCPU</p>
    <p>Average Memory Usage: @Model.avgMem</p>

    <p>Log of CPU and Mem Usage</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>CPU (Percentage)</th>
                <th>Memory (MB)</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.cpu != null)
            {
                @for (int i = Model.cpu.Count - 1; i >= 0; i--)
                {
                    CPU_Usage c = Model.cpu[i];
                    Mem_Usage m = Model.mem[i];
                    <tr>
                        <td>@c.usage</td>
                        <td>@(m.usage / 1000000.0)</td>
                        <td>@c.timestamp</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    Unable to retrieve data
                </tr>
            }
        </tbody>
    </table>

    @*<div id="cpu"></div>
        <script>
            var cpuUsage = @Html.Raw(Json.Serialize(Model.cpuUsage));
            var cpuTime = @Html.Raw(Json.Serialize(Model.cpuTime));

            var dates = new Array();
            for (var i = 0; i < @Model.cpuTime.Count; i++) {
                dates[i] = new Date(cpuTime[i]);
            }

            var CPU = [
                {
                    x: cpuTime,
                    y: cpuUsage,
                    type: 'scatter'
            }];

            var layout = {
                title: 'CPU Usage Over Time',
                yaxis: {
                    title: 'Percentage of CPU Usage',
                    titlefont: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'lightgrey'
                    },
                    visible: true,
                    range: [0, 100]
                },
                xaxis: {
                    title: 'Time',
                    titlefont: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'lightgrey'
                    }
                }
            };

            Plotly.plot('cpu', CPU, layout);
        </script>

        <div id="mem"></div>
        <script>
            var cpuUsage = @Html.Raw(Json.Serialize(Model.memUsage));

            var trace1 = {
                y: cpuUsage,
                type: 'scatter'
            };

            var data = [trace1];

            var layout = {
                title: 'Mem Usage Over Time',
                yaxis: {
                    title: 'Mem Usage (MB)',
                    titlefont: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'lightgrey'
                    },
                    visible: true,
                },
                xaxis: {
                    title: 'Time',
                    titlefont: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'lightgrey'
                    }
                }
            };

            Plotly.plot('mem', data, layout);
        </script>*@

    @*  Plotly graph that updates continuously and scrolls
        <div id="chart"></div>
        <script>
            function getData() {
                return Math.random();
            }

            var time = new Date();

            Plotly.plot('chart', [{
                y: [getData()],
                type: 'line'
            }])

            var cnt = 0;
            setInterval(function () {
                Plotly.extendTraces('chart', { y: [[getData()]] }, [0]);
                cnt++;
                if (cnt > 100) {
                    Plotly.relayout('chart', {
                        xaxis: {
                            range: [cnt - 100, cnt]
                        }
                    });
                }
            }, 5);
        </script>*@
</div>