@page
@using WebApplication.ClientSideData;
@model WebApplication.Pages.Metrics.HTTP_RequestsModel
@{
    ViewData["Title"] = "HTTP_Requests";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="main">
    <font size="50">HTTP Requests</font>

    <p>Total Http Requests: @Model.totalHttpRequest</p>
    <p>Average Duration of Http Requests: @((Model.avgDuration / 1000).ToString("0.0000")) seconds</p>

    <p>Log of Http Requests</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Method</th>
                <th>Path</th>
                <th>Start Timestamp</th>
                <th>End TimeStamp</th>
                <th>Duration (seconds)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.http != null)
            {
                @for (int i = 0; i < Model.http.Count; i++)
                {
                    Client_Http_Request h = Model.http.ElementAt<Client_Http_Request>(i);
            <tr>

                @if (h.EndTimestamp.Year != 1 && h.StartTimestamp.Year != 1)
                {
                    <td>@h.Method</td>
                    <td>@h.Path</td>
                    <td>@h.StartTimestamp.ToLongTimeString() @h.StartTimestamp.ToShortDateString()</td>
                    <td>@h.EndTimestamp.ToLongTimeString() @h.EndTimestamp.ToShortDateString()</td>
                    <td>@(h.Duration / 1000)</td>
                }
                else if (h.StartTimestamp.Year != 1)
                {
                    <td>@h.Method</td>
                    <td>@h.Path</td>
                    <td>@h.StartTimestamp.ToLongTimeString() @h.StartTimestamp.ToShortDateString()</td>
                    <td></td>
                    <td></td>
                }
                else
                {
                    <td>@h.Method</td>
                    <td>@h.Path</td>
                    <td></td>
                    <td>@h.EndTimestamp.ToLongTimeString() @h.EndTimestamp.ToShortDateString()</td>
                    <td></td>
                }
            </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>
</div>