@page
@model IndexModel
@using DataTransfer; 
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="main">
    <font size="50">.NET Performance Monitor</font>
    <p>Check your app's performance by navigating the sidebar.</p>

    <p>Log of Current Sessions</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Application</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.sessions != null)
            {
                @for (int i = Model.sessions.Count - 1; i >= 0; i--)
                {
                    Session s = Model.sessions.ElementAt<Session>(i);
                    <tr>
                        <td>@s.application</td>
                        <td>@s.process</td>
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>

    @Model.message
    <form method="post">
        <input type="text" placeholder="Application" asp-for="@Model.app" name="app" /> <br />
        <input type="text" placeholder="Process" asp-for="@Model.pro" name="pro" /> <br />
        <button class="btn btn-default">Examine4</button>
    </form>
</div>