@page
@model IndexModel
@using DataTransfer;
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="main">
    <font size="50">.NET Performance Monitor</font>
    <p>Check your app's performance by navigating the sidebar.</p>

    <p>Log of Current Sessions</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Application</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.sessions != null)
            {
                @for (int i = Model.sessions.Count - 1; i >= 0; i--)
                {
                    Session s = Model.sessions.ElementAt<Session>(i);
                    <tr>
                        <td>@s.application</td>
                        <td>@s.process</td>
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>

    @Model.message
    <form method="post">
        <input type="text" placeholder="Application" asp-for="@Model.app" name="app11" /> <br />
        <input type="text" placeholder="Process" asp-for="@Model.pro" name="pro11" /> <br />
        <button class="btn btn-default">Examine</button>
    </form>

    <form name="classic" method="post">
        <button type="button" class="btn btn-primary btn-md" onClick="updateApp()">Update Apps</button>
        <select name="app" size="4" onChange="updatePro(this.selectedIndex)" style="width: 150px" asp-for="@Model.app"></select>
        <select name="pro" size="4" style="width: 150px" asp-for="@Model.pro"></select>
        <button class="btn btn-default">Examine</button>
    </form>

    <script type="text/javascript">

        var appList = document.classic.app
        var proList = document.classic.pro

        var pro = new Array()      
        var app = new Array()

        var i = 0;
        var collection = @Html.Raw(Json.Serialize(Model.sessionsByApp));
        $.each(collection, function (key, value) {
            app[i] = key; 
            pro[i] = value;  
            i++; 
        });

        function updateApp() {
            appList.options.length = 0
            for (i = 0; i < app.length; i++)
                appList.options[appList.options.length] = new Option(app[i], app[i])
        }

        function updatePro(selectedApp) {
            proList.options.length = 0
            for (i = 0; i < pro[selectedApp].length; i++)
                proList.options[proList.options.length] = new Option(pro[selectedApp][i], pro[selectedApp][i])
        }

    </script>
</div>