@page
@model IndexModel
@using DataTransfer; 
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="main">
    <font size="50">.NET Performance Monitor</font>
    <p>Check your app's performance by navigating the sidebar.</p>

    Current Sessions: 
    @Model.sessions.Count
    @for(int i = 0; i < Model.sessions.Count; i++)
    {
        <p>Application: @Model.sessions[i].application Process: @Model.sessions[i].process</p>
    }

    Please select one of the above sessions...
    <form asp-action="GetSessionDataByAppAndProcess" method="post">
        <input type ="text" placeholder="Application" asp-for="@Model.application" name="application"/> <br />
        <input type="text" placeholder="Process" asp-for="@Model.process" name="process"/> <br />
        <button type="submit" value="@Model.getSession()">Examine</button>
    </form>
</div>